{% extends 'base.html.twig' %}

{% block title %}
	A porpos de nous
{% endblock %}

{% block body %}


	<header class="p-5 text-center bg-light border-bottom">
		<div class="container">
			<h1 class="display-4">Notre histoire: une aventure passionnante</h1>
			
		</div>
	</header>

	<section class="py-5">
		<div class="container">
			<div class="row mb-5">
				<div class="col-lg-8 mx-auto text-center">
					<h2>Qui est notre entreprise?</h2>
					
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 mb-4">
					<div class="card shadow-sm h-100">
						<div class="card-body">
							<h3 class="card-title text-info">Notre mission</h3>
							<p class="card-text">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
							</p>
							<p class="text-muted small">
								<em>Créé en 2020.</em>
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-4">
					<div class="card shadow-sm h-100">
						<div class="card-body">
							<h3 class="card-title text-info">Notre mission</h3>
							<p class="card-text">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
							</p>
							<p class="text-muted small">
								<em>Perspectives d'avenir pour 2030.</em>
							</p>
						</div>
					</div>
				</div>
			</div>

			<hr class="my-5">

			
	</section>


{% endblock %}
