{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            
            <div class="col-sm-10 col-md-8 col-lg-6">

                {# Flasha ffichage de message - positionné à l'extérieur de la carte pour un placement d'alerte standard #}
                {% for flash_error in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger text-center mb-4" role="alert">
                        {{ flash_error }}
                    </div>
                {% endfor %}

                {# Enveloppez le formulaire dans une carte pour un aspect propre et professionnel#}
                <div class="card shadow-lg rounded-4 p-4 p-md-5">
                    <h1 class="text-center mb-4 text-primary-emphasis">Réinitialisez votre mot de passe</h1>

                    {{ form_start(requestForm) }}

                    <div class="mb-3">
                        {# Afficher le champ e-mail avec la classe de contrôle de formulaire#}
                        {{ form_row(requestForm.email, {
                            label: 'Votre adresse e-mail',
                            attr: {
                                placeholder: 'Exemple@mail.com',
                                class: 'form-control'
                            }
                        }) }}
                    </div>

                    <div class="text-muted small mb-4">
                        <p class="mb-0">
                            Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                        </p>
                    </div>

                    
                    <button class="btn btn-secondary w-100 text-white fw-bold mt-2">
                        Envoyer un e-mail de réinitialisation
                    </button>

                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}