<div class="container mx-auto">
	<h1 class=" text-center">Bonjour!</h1>

	<h5 class=" text-center">Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant</h5>

	<h3>
		<a href="{link}" class=" text-center ">
			réinitialiser le mot de passe</a>
	</h3>


</div>
