{% extends 'base.html.twig' %}
{% block body %}
    <div class="container my-5">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-6">
            <h1>inscription </h1>
            {{form(formInscription)}}
            Vous avez déja un compte <a href="{{path('app_login')}}">Connectez-vous </a>
          </div>
        </div>
    </div>
{% endblock body %}

