<!-- Footer Section End -->
					{# <div class="container-footer ">
					 <footer class="footer-costum">
											<div class="row ">
												<div class="col-4"></div>
												<div class="col-4">
													<p>&copy;
														<script> document.write(new Date().getFullYear())</script>
														Shop-onlin
														<a href="#" class=" text-info-emphasis mx-2"> CGV</a>
														&middot;
														<a href="#" class="text-info-emphasis ">
															CGU
														</a>
													</p>
												</div>
					
												<div class="col-md-4  mb-0">
													<h3>
														<a class='nav-link' href="{{path('app_f_a_q')}}">FAQ</a>
													</h3>
													<p>
														<i class="fas fa-envelope mr-3"></i>
														<a class="nav-link" href="{{path('app_contact')}}">Nous-contacter : contact@info.fr</a>
					
													</p>
													<p>
														<i class="fas fa-phone mr-3"></i>
														01 234 567 9 10</p>
												</div>
					
											</div>
					
					
										</footer>
									</div> #}